<?xml version="1.0" encoding="utf-8"?>
<objects>
   <object>
      <name>школа</name>
	  <namearab>1_arab.gif</namearab>
      <pict>1.jpg</pict>
      <soundyes>1.mp3</soundyes>
      <soundno>1.mp3</soundno>
   </object>
   <object>
      <name>стена</name>
	  <namearab>5_arab.gif</namearab>
      <pict>5.jpg</pict>
      <soundyes>5.mp3</soundyes>
      <soundno>5.mp3</soundno>
   </object>
   <object>
      <name>лестница</name>
	  <namearab>6_arab.gif</namearab>
      <pict>6.jpg</pict>
      <soundyes>6.mp3</soundyes>
      <soundno>6.mp3</soundno>
   </object>
   <object>
      <name>коридор</name>
	  <namearab>7_arab.gif</namearab>
      <pict>7.jpg</pict>
      <soundyes>7.mp3</soundyes>
      <soundno>7.mp3</soundno>
   </object>
   <object>
      <name>раздевалка</name>
	  <namearab>8_arab.gif</namearab>
      <pict>8.jpg</pict>
      <soundyes>8.mp3</soundyes>
      <soundno>8.mp3</soundno>
   </object>
   <object>
      <name>вешалка</name>
	  <namearab>9_arab.gif</namearab>
      <pict>9.jpg</pict>
      <soundyes>9.mp3</soundyes>
      <soundno>9.mp3</soundno>
   </object>
   <object>
      <name>библиотека</name>
	  <namearab>11_arab.gif</namearab>
      <pict>11.jpg</pict>
      <soundyes>11.mp3</soundyes>
      <soundno>11.mp3</soundno>
   </object>
   <object>
      <name>актовый зал</name>
	  <namearab>12_arab.gif</namearab>
      <pict>12.jpg</pict>
      <soundyes>12.mp3</soundyes>
      <soundno>12.mp3</soundno>
   </object>
   <object>
      <name>спортивный зал</name>
	  <namearab>13_arab.gif</namearab>
      <pict>13.jpg</pict>
      <soundyes>13.mp3</soundyes>
      <soundno>13.mp3</soundno>
   </object>
   <object>
      <name>столовая</name>
	  <namearab>18_arab.gif</namearab>
      <pict>18.jpg</pict>
      <soundyes>18.mp3</soundyes>
      <soundno>18.mp3</soundno>
   </object>
   <object>
      <name>буфет</name>
	  <namearab>19_arab.gif</namearab>
      <pict>19.jpg</pict>
      <soundyes>19.mp3</soundyes>
      <soundno>19.mp3</soundno>
   </object>
   <object>
      <name>класс</name>
	  <namearab>23_arab.gif</namearab>
      <pict>23.jpg</pict>
      <soundyes>23.mp3</soundyes>
      <soundno>23.mp3</soundno>
   </object>
   <object>
      <name>лаборатория</name>
	  <namearab>24_arab.gif</namearab>
      <pict>24.jpg</pict>
      <soundyes>24.mp3</soundyes>
      <soundno>24.mp3</soundno>
   </object>
   <object>
      <name>компьютерный класс</name>
	  <namearab>25_arab.gif</namearab>
      <pict>25.png</pict>
      <soundyes>25.mp3</soundyes>
      <soundno>25.mp3</soundno>
   </object>
   <object>
      <name>доска</name>
	  <namearab>28_arab.gif</namearab>
      <pict>28.jpg</pict>
      <soundyes>28.mp3</soundyes>
      <soundno>28.mp3</soundno>
   </object>
   <object>
      <name>мел</name>
	  <namearab>29_arab.gif</namearab>
      <pict>29.jpg</pict>
      <soundyes>29.mp3</soundyes>
      <soundno>29.mp3</soundno>
   </object>
   <object>
      <name>тряпка</name>
	  <namearab>30_arab.gif</namearab>
      <pict>30.jpg</pict>
      <soundyes>30.mp3</soundyes>
      <soundno>30.mp3</soundno>
   </object>
   <object>
      <name>компьютер</name>
	  <namearab>32_arab.gif</namearab>
      <pict>32.jpg</pict>
      <soundyes>32.mp3</soundyes>
      <soundno>32.mp3</soundno>
   </object>
   <object>
      <name>парта</name>
	  <namearab>34_arab.gif</namearab>
      <pict>34.jpg</pict>
      <soundyes>34.mp3</soundyes>
      <soundno>34.mp3</soundno>
   </object>
   <object>
      <name>стул</name>
	  <namearab>35_arab.gif</namearab>
      <pict>35.jpg</pict>
      <soundyes>35.mp3</soundyes>
      <soundno>35.mp3</soundno>
   </object>
   <object>
      <name>лампа</name>
	  <namearab>36_arab.gif</namearab>
      <pict>36.jpg</pict>
      <soundyes>36.mp3</soundyes>
      <soundno>36.mp3</soundno>
   </object>
   <object>
      <name>часы</name>
	  <namearab>37_arab.gif</namearab>
      <pict>37.jpg</pict>
      <soundyes>37.mp3</soundyes>
      <soundno>37.mp3</soundno>
   </object>
   <object>
      <name>календарь</name>
	  <namearab>38_arab.gif</namearab>
      <pict>38.png</pict>
      <soundyes>38.mp3</soundyes>
      <soundno>38.mp3</soundno>
   </object>
   <object>
      <name>книга</name>
	  <namearab>39_arab.gif</namearab>
      <pict>39.jpg</pict>
      <soundyes>39.mp3</soundyes>
      <soundno>39.mp3</soundno>
   </object>
   <object>
      <name>учебник</name>
	  <namearab>40_arab.gif</namearab>
      <pict>40.jpg</pict>
      <soundyes>40.mp3</soundyes>
      <soundno>40.mp3</soundno>
   </object>
   <object>
      <name>тетрадь</name>
	  <namearab>41_arab.gif</namearab>
      <pict>41.jpg</pict>
      <soundyes>41.mp3</soundyes>
      <soundno>41.mp3</soundno>
   </object>
   <object>
      <name>ручка</name>
	  <namearab>42_arab.gif</namearab>
      <pict>42.jpg</pict>
      <soundyes>42.mp3</soundyes>
      <soundno>42.mp3</soundno>
   </object>
   <object>
      <name>карандаш</name>
	  <namearab>43_arab.gif</namearab>
      <pict>43.png</pict>
      <soundyes>43.mp3</soundyes>
      <soundno>43.mp3</soundno>
   </object>
   <object>
      <name>ластик</name>
	  <namearab>44_arab.gif</namearab>
      <pict>44.jpg</pict>
      <soundyes>44.mp3</soundyes>
      <soundno>44.mp3</soundno>
   </object>
   <object>
      <name>дневник</name>
	  <namearab>45_arab.gif</namearab>
      <pict>45.jpg</pict>
      <soundyes>45.mp3</soundyes>
      <soundno>45.mp3</soundno>
   </object>
   <object>
      <name>фломастеры</name>
	  <namearab>46_arab.gif</namearab>
      <pict>46.jpg</pict>
      <soundyes>46.mp3</soundyes>
      <soundno>46.mp3</soundno>
   </object>
   <object>
      <name>краски</name>
	  <namearab>47_arab.gif</namearab>
      <pict>47.jpg</pict>
      <soundyes>47.mp3</soundyes>
      <soundno>47.mp3</soundno>
   </object>
   <object>
      <name>кисточки</name>
	  <namearab>48_arab.gif</namearab>
      <pict>48.jpg</pict>
      <soundyes>48.mp3</soundyes>
      <soundno>48.mp3</soundno>
   </object>
   <object>
      <name>альбом</name>
	  <namearab>49_arab.gif</namearab>
      <pict>49.png</pict>
      <soundyes>49.mp3</soundyes>
      <soundno>49.mp3</soundno>
   </object>
   <object>
      <name>портфель</name>
	  <namearab>50_arab.gif</namearab>
      <pict>50.jpg</pict>
      <soundyes>50.mp3</soundyes>
      <soundno>50.mp3</soundno>
   </object>
   <object>
      <name>рюкзак</name>
	  <namearab>51_arab.gif</namearab>
      <pict>51.jpg</pict>
      <soundyes>51.mp3</soundyes>
      <soundno>51.mp3</soundno>
   </object>
   <object>
      <name>школьная форма</name>
	  <namearab>56_arab.gif</namearab>
      <pict>56.jpg</pict>
      <soundyes>56.mp3</soundyes>
      <soundno>56.mp3</soundno>
   </object>
   <object>
      <name>урок</name>
	  <namearab>59_arab.gif</namearab>
      <pict>59.jpg</pict>
      <soundyes>59.mp3</soundyes>
      <soundno>59.mp3</soundno>
   </object>
</objects>