<?xml version="1.0" encoding="utf-8"?>
<objects>
   <object>
      <name>мальчик</name>
	  <namearab>1_arab.gif</namearab>
      <pict>1.jpg</pict>
      <soundyes>1.mp3</soundyes>
      <soundno>1.mp3</soundno>
   </object>
   <object>
      <name>девочка</name>
	  <namearab>2_arab.gif</namearab>
      <pict>2.jpg</pict>
      <soundyes>2.mp3</soundyes>
      <soundno>2.mp3</soundno>
   </object>
   <object>
      <name>мужчина</name>
	  <namearab>3_arab.gif</namearab>
      <pict>3.jpg</pict>
      <soundyes>3.mp3</soundyes>
      <soundno>3.mp3</soundno>
   </object>
   <object>
      <name>женщина</name>
	  <namearab>4_arab.gif</namearab>
      <pict>4.jpg</pict>
      <soundyes>4.mp3</soundyes>
      <soundno>4.mp3</soundno>
   </object>
   <object>
      <name>учительница</name>
	  <namearab>5_arab.gif</namearab>
      <pict>5.jpg</pict>
      <soundyes>5.mp3</soundyes>
      <soundno>5.mp3</soundno>
   </object>
   <object>
      <name>учитель</name>
	  <namearab>6_arab.gif</namearab>
      <pict>6.jpg</pict>
      <soundyes>6.mp3</soundyes>
      <soundno>6.mp3</soundno>
   </object>
   <object>
      <name>ученик</name>
	  <namearab>7_arab.gif</namearab>
      <pict>7.jpg</pict>
      <soundyes>7.mp3</soundyes>
      <soundno>7.mp3</soundno>
   </object>
   <object>
      <name>ученица</name>
	  <namearab>8_arab.gif</namearab>
      <pict>8.jpg</pict>
      <soundyes>8.mp3</soundyes>
      <soundno>8.mp3</soundno>
   </object>
   <object>
      <name>ученики</name>
	  <namearab>9_arab.gif</namearab>
      <pict>9.jpg</pict>
      <soundyes>9.mp3</soundyes>
      <soundno>9.mp3</soundno>
   </object>
   <object>
      <name>врач</name>
	  <namearab>10_arab.gif</namearab>
      <pict>10.jpg</pict>
      <soundyes>10.mp3</soundyes>
      <soundno>10.mp3</soundno>
   </object>
   <object>
      <name>врачи</name>
	  <namearab>11_arab.gif</namearab>
      <pict>11.jpg</pict>
      <soundyes>11.mp3</soundyes>
      <soundno>11.mp3</soundno>
   </object>
   <object>
      <name>медсестра</name>
	  <namearab>12_arab.gif</namearab>
      <pict>12.jpg</pict>
      <soundyes>12.mp3</soundyes>
      <soundno>12.mp3</soundno>
   </object>
   <object>
      <name>инженер</name>
	  <namearab>13_arab.gif</namearab>
      <pict>13.jpg</pict>
      <soundyes>13.mp3</soundyes>
      <soundno>13.mp3</soundno>
   </object>
   <object>
      <name>лётчик</name>
	  <namearab>14_arab.gif</namearab>
      <pict>14.jpg</pict>
      <soundyes>14.mp3</soundyes>
      <soundno>14.mp3</soundno>
   </object>
   <object>
      <name>стюардесса</name>
	  <namearab>15_arab.gif</namearab>
      <pict>15.jpg</pict>
      <soundyes>15.mp3</soundyes>
      <soundno>15.mp3</soundno>
   </object>
   <object>
      <name>космонавт</name>
	  <namearab>16_arab.gif</namearab>
      <pict>16.jpg</pict>
      <soundyes>16.mp3</soundyes>
      <soundno>16.mp3</soundno>
   </object>
   <object>
      <name>танкист</name>
	  <namearab>17_arab.gif</namearab>
      <pict>17.jpg</pict>
      <soundyes>17.mp3</soundyes>
      <soundno>17.mp3</soundno>
   </object>
   <object>
      <name>полицейский</name>
	  <namearab>18_arab.gif</namearab>
      <pict>18.jpg</pict>
      <soundyes>18.mp3</soundyes>
      <soundno>18.mp3</soundno>
   </object>
   <object>
      <name>пожарный</name>
	  <namearab>19_arab.gif</namearab>
      <pict>19.jpg</pict>
      <soundyes>19.mp3</soundyes>
      <soundno>19.mp3</soundno>
   </object>
   <object>
      <name>пекарь</name>
	  <namearab>20_arab.gif</namearab>
      <pict>20.jpg</pict>
      <soundyes>20.mp3</soundyes>
      <soundno>20.mp3</soundno>
   </object>
   <object>
      <name>повар</name>
	  <namearab>21_arab.gif</namearab>
      <pict>21.jpg</pict>
      <soundyes>21.mp3</soundyes>
      <soundno>21.mp3</soundno>
   </object>
   <object>
      <name>повариха</name>
	  <namearab>22_arab.gif</namearab>
      <pict>22.jpg</pict>
      <soundyes>22.mp3</soundyes>
      <soundno>22.mp3</soundno>
   </object>
   <object>
      <name>официант</name>
	  <namearab>23_arab.gif</namearab>
      <pict>23.jpg</pict>
      <soundyes>23.mp3</soundyes>
      <soundno>23.mp3</soundno>
   </object>
   <object>
      <name>официантка</name>
	  <namearab>24_arab.gif</namearab>
      <pict>24.jpg</pict>
      <soundyes>24.mp3</soundyes>
      <soundno>24.mp3</soundno>
   </object>
   <object>
      <name>швея</name>
	  <namearab>25_arab.gif</namearab>
      <pict>25.jpg</pict>
      <soundyes>25.mp3</soundyes>
      <soundno>25.mp3</soundno>
   </object>
   <object>
      <name>парикмахер</name>
	  <namearab>26_arab.gif</namearab>
      <pict>26.jpg</pict>
      <soundyes>26.mp3</soundyes>
      <soundno>26.mp3</soundno>
   </object>
   <object>
      <name>продавец</name>
	  <namearab>27_arab.gif</namearab>
      <pict>27.jpg</pict>
      <soundyes>27.mp3</soundyes>
      <soundno>27.mp3</soundno>
   </object>
   <object>
      <name>нефтяник</name>
	  <namearab>28_arab.gif</namearab>
      <pict>28.jpg</pict>
      <soundyes>28.mp3</soundyes>
      <soundno>28.mp3</soundno>
   </object>
   <object>
      <name>водитель</name>
	  <namearab>29_arab.gif</namearab>
      <pict>29.jpg</pict>
      <soundyes>29.mp3</soundyes>
      <soundno>29.mp3</soundno>
   </object>
   <object>
      <name>таксист</name>
	  <namearab>30_arab.gif</namearab>
      <pict>30.jpg</pict>
      <soundyes>30.mp3</soundyes>
      <soundno>30.mp3</soundno>
   </object>
   <object>
      <name>мотоциклист</name>
	  <namearab>31_arab.gif</namearab>
      <pict>31.jpg</pict>
      <soundyes>31.mp3</soundyes>
      <soundno>31.mp3</soundno>
   </object>
   <object>
      <name>строитель</name>
	  <namearab>32_arab.gif</namearab>
      <pict>32.jpg</pict>
      <soundyes>32.mp3</soundyes>
      <soundno>32.mp3</soundno>
   </object>
   <object>
      <name>дворник</name>
	  <namearab>33_arab.gif</namearab>
      <pict>33.jpg</pict>
      <soundyes>33.mp3</soundyes>
      <soundno>33.mp3</soundno>
   </object>
   <object>
      <name>уборщица</name>
	  <namearab>34_arab.gif</namearab>
      <pict>34.jpg</pict>
      <soundyes>34.mp3</soundyes>
      <soundno>34.mp3</soundno>
   </object>
   <object>
      <name>воспитательница</name>
	  <namearab>35_arab.gif</namearab>
      <pict>35.jpg</pict>
      <soundyes>35.mp3</soundyes>
      <soundno>35.mp3</soundno>
   </object>
   <object>
      <name>кассир</name>
	  <namearab>36_arab.gif</namearab>
      <pict>36.jpg</pict>
      <soundyes>36.mp3</soundyes>
      <soundno>36.mp3</soundno>
   </object>
   <object>
      <name>кассирша</name>
	  <namearab>37_arab.gif</namearab>
      <pict>37.jpg</pict>
      <soundyes>37.mp3</soundyes>
      <soundno>37.mp3</soundno>
   </object>
 </objects>