<?xml version="1.0" encoding="utf-8"?>
<objects>
   <object>
      <name>город</name>
	  <namearab>1_arab.gif</namearab>
      <pict>1.jpg</pict>
      <soundyes>1.mp3</soundyes>
      <soundno>1.mp3</soundno>
   </object>
   <object>
      <name>Пошехонье</name>
	  <namearab>2_arab.gif</namearab>
      <pict>2.jpg</pict>
      <soundyes>2.mp3</soundyes>
      <soundno>2.mp3</soundno>
   </object>
   <object>
      <name>Новгород</name>
	  <namearab>3_arab.gif</namearab>
      <pict>3.jpg</pict>
      <soundyes>3.mp3</soundyes>
      <soundno>3.mp3</soundno>
   </object>
   <object>
      <name>Москва</name>
	  <namearab>4_arab.gif</namearab>
      <pict>4.jpg</pict>
      <soundyes>4.mp3</soundyes>
      <soundno>4.mp3</soundno>
   </object>
   <object>
      <name>Санкт-Петербург</name>
	  <namearab>5_arab.gif</namearab>
      <pict>5.jpg</pict>
      <soundyes>5.mp3</soundyes>
      <soundno>5.mp3</soundno>
   </object>
   <object>
      <name>Екатеринбург</name>
	  <namearab>6_arab.gif</namearab>
      <pict>6.jpg</pict>
      <soundyes>6.mp3</soundyes>
      <soundno>6.mp3</soundno>
   </object>
   <object>
      <name>Казань</name>
	  <namearab>7_arab.gif</namearab>
      <pict>7.jpg</pict>
      <soundyes>7.mp3</soundyes>
      <soundno>7.mp3</soundno>
   </object>
   <object>
      <name>дом</name>
	  <namearab>8_arab.gif</namearab>
      <pict>8.jpg</pict>
      <soundyes>8.mp3</soundyes>
      <soundno>8.mp3</soundno>
   </object>
   <object>
      <name>здание</name>
	  <namearab>9_arab.gif</namearab>
      <pict>9.jpg</pict>
      <soundyes>9.mp3</soundyes>
      <soundno>9.mp3</soundno>
   </object>
   <object>
      <name>река</name>
	  <namearab>10_arab.gif</namearab>
      <pict>10.jpg</pict>
      <soundyes>10.mp3</soundyes>
      <soundno>10.mp3</soundno>
   </object>
   <object>
      <name>набережная</name>
	  <namearab>11_arab.gif</namearab>
      <pict>11.jpg</pict>
      <soundyes>11.mp3</soundyes>
      <soundno>11.mp3</soundno>
   </object>
   <object>
      <name>мост</name>
	  <namearab>12_arab.gif</namearab>
      <pict>12.jpg</pict>
      <soundyes>12.mp3</soundyes>
      <soundno>12.mp3</soundno>
   </object>
   <object>
      <name>улица</name>
	  <namearab>13_arab.gif</namearab>
      <pict>13.jpg</pict>
      <soundyes>13.mp3</soundyes>
      <soundno>13.mp3</soundno>
   </object>
   <object>
      <name>проспект</name>
	  <namearab>14_arab.gif</namearab>
      <pict>14.jpg</pict>
      <soundyes>14.mp3</soundyes>
      <soundno>14.mp3</soundno>
   </object>
   <object>
      <name>пешеходная улица</name>
	  <namearab>15_arab.gif</namearab>
      <pict>15.jpg</pict>
      <soundyes>15.mp3</soundyes>
      <soundno>15.mp3</soundno>
   </object>
   <object>
      <name>площадь</name>
	  <namearab>16_arab.gif</namearab>
      <pict>16.jpg</pict>
      <soundyes>16.mp3</soundyes>
      <soundno>16.mp3</soundno>
   </object>
   <object>
      <name>бульвар</name>
	  <namearab>17_arab.gif</namearab>
      <pict>17.jpg</pict>
      <soundyes>17.mp3</soundyes>
      <soundno>17.mp3</soundno>
   </object>
   <object>
      <name>сквер</name>
	  <namearab>18_arab.gif</namearab>
      <pict>18.jpg</pict>
      <soundyes>18.mp3</soundyes>
      <soundno>18.mp3</soundno>
   </object>
   <object>
      <name>скамейка</name>
	  <namearab>19_arab.gif</namearab>
      <pict>19.jpg</pict>
      <soundyes>19.mp3</soundyes>
      <soundno>19.mp3</soundno>
   </object>
   <object>
      <name>дорожка</name>
	  <namearab>20_arab.gif</namearab>
      <pict>20.jpg</pict>
      <soundyes>20.mp3</soundyes>
      <soundno>20.mp3</soundno>
   </object>
   <object>
      <name>парк</name>
	  <namearab>21_arab.gif</namearab>
      <pict>21.jpg</pict>
      <soundyes>21.mp3</soundyes>
      <soundno>21.mp3</soundno>
   </object>
   <object>
      <name>аллея</name>
	  <namearab>22_arab.gif</namearab>
      <pict>22.jpg</pict>
      <soundyes>22.mp3</soundyes>
      <soundno>22.mp3</soundno>
   </object>
   <object>
      <name>пруд</name>
	  <namearab>23_arab.gif</namearab>
      <pict>23.jpg</pict>
      <soundyes>23.mp3</soundyes>
      <soundno>23.mp3</soundno>
   </object>
   <object>
      <name>клумба</name>
	  <namearab>24_arab.gif</namearab>
      <pict>24.jpg</pict>
      <soundyes>24.mp3</soundyes>
      <soundno>24.mp3</soundno>
   </object>
   <object>
      <name>фонтан</name>
	  <namearab>25_arab.gif</namearab>
      <pict>25.jpg</pict>
      <soundyes>25.mp3</soundyes>
      <soundno>25.mp3</soundno>
   </object>
   <object>
      <name>фонарь</name>
	  <namearab>26_arab.gif</namearab>
      <pict>26.jpg</pict>
      <soundyes>26.mp3</soundyes>
      <soundno>26.mp3</soundno>
   </object>
   <object>
      <name>урна</name>
	  <namearab>27_arab.gif</namearab>
      <pict>27.jpg</pict>
      <soundyes>27.mp3</soundyes>
      <soundno>27.mp3</soundno>
   </object>
   <object>
      <name>перекрёсток</name>
	  <namearab>28_arab.gif</namearab>
      <pict>28.jpg</pict>
      <soundyes>28.mp3</soundyes>
      <soundno>28.mp3</soundno>
   </object>
   <object>
      <name>светофор</name>
	  <namearab>29_arab.gif</namearab>
      <pict>29.jpg</pict>
      <soundyes>29.mp3</soundyes>
      <soundno>29.mp3</soundno>
   </object>
   <object>
      <name>переход</name>
	  <namearab>30_arab.gif</namearab>
      <pict>30.png</pict>
      <soundyes>30.mp3</soundyes>
      <soundno>30.mp3</soundno>
   </object>
   <object>
      <name>подземный переход</name>
	  <namearab>31_arab.gif</namearab>
      <pict>31.jpg</pict>
      <soundyes>31.mp3</soundyes>
      <soundno>31.mp3</soundno>
   </object>
   <object>
      <name>надземный переход</name>
	  <namearab>32_arab.gif</namearab>
      <pict>32.jpg</pict>
      <soundyes>32.mp3</soundyes>
      <soundno>32.mp3</soundno>
   </object>
   <object>
      <name>туннель</name>
	  <namearab>33_arab.gif</namearab>
      <pict>33.jpg</pict>
      <soundyes>33.mp3</soundyes>
      <soundno>33.mp3</soundno>
   </object>
   <object>
      <name>эстакада</name>
	  <namearab>34_arab.gif</namearab>
      <pict>34.jpg</pict>
      <soundyes>34.mp3</soundyes>
      <soundno>34.mp3</soundno>
   </object>
   <object>
      <name>метро</name>
	  <namearab>35_arab.gif</namearab>
      <pict>35.jpg</pict>
      <soundyes>35.mp3</soundyes>
      <soundno>35.mp3</soundno>
   </object>
   <object>
      <name>турникет</name>
	  <namearab>36_arab.gif</namearab>
      <pict>36.jpg</pict>
      <soundyes>36.mp3</soundyes>
      <soundno>36.mp3</soundno>
   </object>
   <object>
      <name>касса</name>
	  <namearab>37_arab.gif</namearab>
      <pict>37.jpg</pict>
      <soundyes>37.mp3</soundyes>
      <soundno>37.mp3</soundno>
   </object>
   <object>
      <name>проездной билет</name>
	  <namearab>38_arab.gif</namearab>
      <pict>38.jpg</pict>
      <soundyes>38.mp3</soundyes>
      <soundno>38.mp3</soundno>
   </object>
   <object>
      <name>эскалатор</name>
	  <namearab>39_arab.gif</namearab>
      <pict>39.jpg</pict>
      <soundyes>39.mp3</soundyes>
      <soundno>39.mp3</soundno>
   </object>
   <object>
      <name>поезд</name>
	  <namearab>40_arab.gif</namearab>
      <pict>40.jpg</pict>
      <soundyes>40.mp3</soundyes>
      <soundno>40.mp3</soundno>
   </object>
   <object>
      <name>автобус</name>
	  <namearab>41_arab.gif</namearab>
      <pict>41.jpg</pict>
      <soundyes>41.mp3</soundyes>
      <soundno>41.mp3</soundno>
   </object>
   <object>
      <name>троллейбус</name>
	  <namearab>42_arab.gif</namearab>
      <pict>42.jpg</pict>
      <soundyes>42.mp3</soundyes>
      <soundno>42.mp3</soundno>
   </object>
   <object>
      <name>трамвай</name>
	  <namearab>43_arab.gif</namearab>
      <pict>43.jpg</pict>
      <soundyes>43.mp3</soundyes>
      <soundno>43.mp3</soundno>
   </object>
   <object>
      <name>электричка</name>
	  <namearab>44_arab.gif</namearab>
      <pict>44.jpg</pict>
      <soundyes>44.mp3</soundyes>
      <soundno>44.mp3</soundno>
   </object>
   <object>
      <name>остановка</name>
	  <namearab>45_arab.gif</namearab>
      <pict>45.jpg</pict>
      <soundyes>45.mp3</soundyes>
      <soundno>45.mp3</soundno>
   </object>
   <object>
      <name>станция</name>
	  <namearab>46_arab.gif</namearab>
      <pict>46.jpg</pict>
      <soundyes>46.mp3</soundyes>
      <soundno>46.mp3</soundno>
   </object>
   <object>
      <name>вокзал</name>
	  <namearab>47_arab.gif</namearab>
      <pict>47.jpg</pict>
      <soundyes>47.mp3</soundyes>
      <soundno>47.mp3</soundno>
   </object>
   <object>
      <name>автовокзал</name>
	  <namearab>48_arab.gif</namearab>
      <pict>48.jpg</pict>
      <soundyes>48.mp3</soundyes>
      <soundno>48.mp3</soundno>
   </object>
   <object>
      <name>машина</name>
	  <namearab>49_arab.gif</namearab>
      <pict>49.jpg</pict>
      <soundyes>49.mp3</soundyes>
      <soundno>49.mp3</soundno>
   </object>
   <object>
      <name>пожарная машина</name>
	  <namearab>50_arab.gif</namearab>
      <pict>50.jpg</pict>
      <soundyes>50.mp3</soundyes>
      <soundno>50.mp3</soundno>
   </object>
   <object>
      <name>скорая помощь</name>
	  <namearab>51_arab.gif</namearab>
      <pict>51.jpg</pict>
      <soundyes>51.mp3</soundyes>
      <soundno>51.mp3</soundno>
   </object>
   <object>
      <name>полицейская машина</name>
	  <namearab>52_arab.gif</namearab>
      <pict>52.jpg</pict>
      <soundyes>52.mp3</soundyes>
      <soundno>52.mp3</soundno>
   </object>
   <object>
      <name>грузовик</name>
	  <namearab>53_arab.gif</namearab>
      <pict>53.jpg</pict>
      <soundyes>53.mp3</soundyes>
      <soundno>53.mp3</soundno>
   </object>
   <object>
      <name>пробка</name>
	  <namearab>54_arab.gif</namearab>
      <pict>54.jpg</pict>
      <soundyes>54.mp3</soundyes>
      <soundno>54.mp3</soundno>
   </object>
   <object>
      <name>пешеход</name>
	  <namearab>55_arab.gif</namearab>
      <pict>55.jpg</pict>
      <soundyes>55.mp3</soundyes>
      <soundno>55.mp3</soundno>
   </object>
   <object>
      <name>тротуар</name>
	  <namearab>56_arab.gif</namearab>
      <pict>56.jpg</pict>
      <soundyes>56.mp3</soundyes>
      <soundno>56.mp3</soundno>
   </object>
   <object>
      <name>велодорожка</name>
	  <namearab>57_arab.gif</namearab>
      <pict>57.jpg</pict>
      <soundyes>57.mp3</soundyes>
      <soundno>57.mp3</soundno>
   </object>
   <object>
      <name>дорога</name>
	  <namearab>58_arab.gif</namearab>
      <pict>58.jpg</pict>
      <soundyes>58.mp3</soundyes>
      <soundno>58.mp3</soundno>
   </object>
   <object>
      <name>крыша</name>
	  <namearab>59_arab.gif</namearab>
      <pict>59.png</pict>
      <soundyes>59.mp3</soundyes>
      <soundno>59.mp3</soundno>
   </object>
    <object>
      <name>окно</name>
	  <namearab>60_arab.gif</namearab>
      <pict>60.jpg</pict>
      <soundyes>60.mp3</soundyes>
      <soundno>60.mp3</soundno>
   </object>
</objects>