<?xml version="1.0" encoding="utf-8"?>
<objects>
   <object>
      <name>абрикос</name>
	  <namearab>1_arab.gif</namearab>
      <pict>1.jpg</pict>	  
      <soundyes>eto_abrikos.mp3</soundyes>
      <soundno>net_eto_ne_abrikos.mp3</soundno>
   </object>
   <object>
      <name>ананас</name>
	  <namearab>2_arab.gif</namearab>
      <pict>2.jpg</pict>
      <soundyes>eto_ananas.mp3</soundyes>
      <soundno>net_eto_ne_ananas.mp3</soundno>
   </object>
   <object>
      <name>апельсин</name>
	  <namearab>3_arab.gif</namearab>
      <pict>3.jpg</pict>
      <soundyes>eto_apelsin.mp3</soundyes>
      <soundno>net_eto_ne_apelsin.mp3</soundno>
   </object>
   <object>
      <name>арбуз</name>
	  <namearab>4_arab.gif</namearab>
      <pict>4.jpg</pict>
      <soundyes>eto_arbuz.mp3</soundyes>
      <soundno>net_eto_ne_arbuz.mp3</soundno>
   </object>
   <object>
      <name>банан</name>
	  <namearab>5_arab.gif</namearab>
      <pict>5.jpg</pict>
      <soundyes>eto_banan.mp3</soundyes>
      <soundno>net_eto_ne_banan.mp3</soundno>
   </object>
   <object>
      <name>виноград</name>
	  <namearab>6_arab.gif</namearab>
      <pict>6.jpg</pict>
      <soundyes>eto_vinograd.mp3</soundyes>
      <soundno>net_eto_ne_vinograd.mp3</soundno>
   </object>
   <object>
      <name>груша</name>
	  <namearab>7_arab.gif</namearab>
      <pict>7.jpg</pict>
      <soundyes>eto_grusha.mp3</soundyes>
      <soundno>net_eto_ne_grusha.mp3</soundno>
   </object>
   <object>
      <name>дыня</name>
	  <namearab>8_arab.gif</namearab>
      <pict>8.jpg</pict>
      <soundyes>eto_dynya.mp3</soundyes>
      <soundno>net_eto_ne_dynya.mp3</soundno>
   </object>
   <object>
      <name>инжир</name>
	  <namearab>9_arab.gif</namearab>
      <pict>9.jpg</pict>
      <soundyes>eto_injir.mp3</soundyes>
      <soundno>net_eto_ne_injir.mp3</soundno>
   </object>
   <object>
      <name>лимон</name>
	  <namearab>10_arab.gif</namearab>
      <pict>10.jpg</pict>
      <soundyes>eto_limon.mp3</soundyes>
      <soundno>net_eto_ne_limon.mp3</soundno>
   </object>
   <object>
      <name>мандарин</name>
	  <namearab>11_arab.gif</namearab>
      <pict>11.jpg</pict>
      <soundyes>eto_mandarin.mp3</soundyes>
      <soundno>net_eto_ne_mandarin.mp3</soundno>
   </object>
   <object>
      <name>персик</name>
	  <namearab>12_arab.gif</namearab>
      <pict>12.jpg</pict>
      <soundyes>eto_persik.mp3</soundyes>
      <soundno>net_eto_ne_persik.mp3</soundno>
   </object>
   <object>
      <name>слива</name>
	  <namearab>13_arab.gif</namearab>
      <pict>13.jpg</pict>
      <soundyes>eto_sliva.mp3</soundyes>
      <soundno>net_eto_ne_sliva.mp3</soundno>
   </object>
   <object>
      <name>финик</name>
	  <namearab>14_arab.gif</namearab>
      <pict>14.jpg</pict>
      <soundyes>eto_finik.mp3</soundyes>
      <soundno>net_eto_ne_finik.mp3</soundno>
   </object>
   <object>
      <name>хурма</name>
	  <namearab>15_arab.gif</namearab>
      <pict>15.jpg</pict>
      <soundyes>eto_hurma.mp3</soundyes>
      <soundno>net_eto_ne_hurma.mp3</soundno>
   </object>
   <object>
      <name>яблоко</name>
	  <namearab>16_arab.gif</namearab>
      <pict>16.jpg</pict>
      <soundyes>eto_jabloko.mp3</soundyes>
      <soundno>net_eto_ne_jabloko.mp3</soundno>
   </object>
   <object>
      <name>баклажан</name>
	  <namearab>17_arab.gif</namearab>
      <pict>17.jpg</pict>
      <soundyes>eto_baklajan.mp3</soundyes>
      <soundno>net_eto_ne_baklajan.mp3</soundno>
   </object>
   <object>
      <name>горох</name>
	  <namearab>18_arab.gif</namearab>
      <pict>18.jpg</pict>
      <soundyes>eto_goroch.mp3</soundyes>
      <soundno>net_eto_ne_goroch.mp3</soundno>
   </object>
   <object>
      <name>зелёный лук</name>
	  <namearab>19_arab.gif</namearab>
      <pict>19.png</pict>
      <soundyes>eto_zeleny_luk.mp3</soundyes>
      <soundno>net_eto_ne_zeleny_luk.mp3</soundno>
   </object>
   <object>
      <name>зелень</name>
	  <namearab>20_arab.gif</namearab>
      <pict>20.jpg</pict>
      <soundyes>eto_zelen.mp3</soundyes>
      <soundno>net_eto_ne_zelen.mp3</soundno>
   </object>
   <object>
      <name>кабачок</name>
	  <namearab>21_arab.gif</namearab>
      <pict>21.jpg</pict>
      <soundyes>eto_kabachok.mp3</soundyes>
      <soundno>net_eto_ne_kabachok.mp3</soundno>
   </object>
   <object>
      <name>капуста</name>
	  <namearab>22_arab.gif</namearab>
      <pict>22.jpg</pict>
      <soundyes>eto_kapusta.mp3</soundyes>
      <soundno>net_eto_ne_kapusta.mp3</soundno>
   </object>
   <object>
      <name>картошка</name>
	  <namearab>23_arab.gif</namearab>
      <pict>23.png</pict>
      <soundyes>eto_kartoshka.mp3</soundyes>
      <soundno>net_eto_ne_kartoshka.mp3</soundno>
   </object>
   <object>
      <name>лук</name>
	  <namearab>24_arab.gif</namearab>
      <pict>24.jpg</pict>
      <soundyes>eto_lyk.mp3</soundyes>
      <soundno>net_eto_ne_lyk.mp3</soundno>
   </object>
   <object>
      <name>огурец</name>
	  <namearab>25_arab.gif</namearab>
      <pict>25.jpg</pict>
      <soundyes>eto_ogurec.mp3</soundyes>
      <soundno>net_eto_ne_ogurec.mp3</soundno>
   </object>
   <object>
      <name>оливки</name>
	  <namearab>26_arab.gif</namearab>
      <pict>26.jpg</pict>
      <soundyes>eto_olivki.mp3</soundyes>
      <soundno>net_eto_ne_olivki.mp3</soundno>
   </object>
   <object>
      <name>морковь</name>
	  <namearab>27_arab.gif</namearab>
      <pict>27.jpg</pict>
      <soundyes>eto_morkov.mp3</soundyes>
      <soundno>net_eto_ne_morkov.mp3</soundno>
   </object>
   <object>
      <name>помидор</name>
	  <namearab>28_arab.gif</namearab>
      <pict>28.jpg</pict>
      <soundyes>eto_pomidor.mp3</soundyes>
      <soundno>net_eto_ne_pomidor.mp3</soundno>
   </object>
   <object>
      <name>тыква</name>
	  <namearab>29_arab.gif</namearab>
      <pict>29.jpg</pict>
      <soundyes>eto_tykva.mp3</soundyes>
      <soundno>net_eto_ne_tykva.mp3</soundno>
   </object>
   <object>
      <name>фасоль</name>
	  <namearab>30_arab.gif</namearab>
      <pict>30.jpg</pict>
      <soundyes>eto_fasol.mp3</soundyes>
      <soundno>net_eto_ne_fasol.mp3</soundno>
   </object>
   <object>
      <name>чеснок</name>
	  <namearab>31_arab.gif</namearab>
      <pict>31.jpg</pict>
      <soundyes>eto_chesnok.mp3</soundyes>
      <soundno>net_eto_ne_chesnok.mp3</soundno>
   </object>
   <object>
      <name>еда</name>
	  <namearab>32_arab.gif</namearab>
      <pict>32.jpg</pict>
      <soundyes>32.mp3</soundyes>
      <soundno>32.mp3</soundno>
   </object>
   <object>
      <name>продукты</name>
	  <namearab>33_arab.gif</namearab>
      <pict>33.jpg</pict>
      <soundyes>33.mp3</soundyes>
      <soundno>33.mp3</soundno>
   </object>
   <object>
      <name>напитки</name>
	  <namearab>34_arab.gif</namearab>
      <pict>34.jpg</pict>
      <soundyes>34.mp3</soundyes>
      <soundno>34.mp3</soundno>
   </object>
   <object>
      <name>молочные продукты</name>
	  <namearab>35_arab.gif</namearab>
      <pict>35.jpg</pict>
      <soundyes>35.mp3</soundyes>
      <soundno>35.mp3</soundno>
   </object>
   <object>
      <name>мясо</name>
	  <namearab>36_arab.gif</namearab>
      <pict>36.jpg</pict>
      <soundyes>36.mp3</soundyes>
      <soundno>36.mp3</soundno>
   </object>
   <object>
      <name>рыба</name>
	  <namearab>37_arab.gif</namearab>
      <pict>37.jpg</pict>
      <soundyes>37.mp3</soundyes>
      <soundno>37.mp3</soundno>
   </object>
   <object>
      <name>грибы</name>
	  <namearab>38_arab.gif</namearab>
      <pict>38.jpg</pict>
      <soundyes>38.mp3</soundyes>
      <soundno>38.mp3</soundno>
   </object>
   <object>
      <name>овощи</name>
	  <namearab>39_arab.gif</namearab>
      <pict>39.jpg</pict>
      <soundyes>39.mp3</soundyes>
      <soundno>39.mp3</soundno>
   </object>
   <object>
      <name>соленья</name>
	  <namearab>40_arab.gif</namearab>
      <pict>40.jpg</pict>
      <soundyes>40.mp3</soundyes>
      <soundno>40.mp3</soundno>
   </object>
   <object>
      <name>фрукты</name>
	  <namearab>41_arab.gif</namearab>
      <pict>41.jpg</pict>
      <soundyes>41.mp3</soundyes>
      <soundno>41.mp3</soundno>
   </object>
   <object>
      <name>сухофрукты</name>
	  <namearab>42_arab.gif</namearab>
      <pict>42.jpg</pict>
      <soundyes>42.mp3</soundyes>
      <soundno>42.mp3</soundno>
   </object>
   <object>
      <name>орехи</name>
	  <namearab>43_arab.gif</namearab>
      <pict>43.jpg</pict>
      <soundyes>43.mp3</soundyes>
      <soundno>43.mp3</soundno>
   </object>
   <object>
      <name>ягоды</name>
	  <namearab>44_arab.gif</namearab>
      <pict>44.jpg</pict>
      <soundyes>44.mp3</soundyes>
      <soundno>44.mp3</soundno>
   </object>
   <object>
      <name>хлеб</name>
	  <namearab>45_arab.gif</namearab>
      <pict>45.jpg</pict>
      <soundyes>45.mp3</soundyes>
      <soundno>45.mp3</soundno>
   </object>
   <object>
      <name>сладости</name>
	  <namearab>46_arab.gif</namearab>
      <pict>46.jpg</pict>
      <soundyes>46.mp3</soundyes>
      <soundno>46.mp3</soundno>
   </object>
   <object>
      <name>конфеты</name>
	  <namearab>47_arab.gif</namearab>
      <pict>47.jpg</pict>
      <soundyes>47.mp3</soundyes>
      <soundno>47.mp3</soundno>
   </object>
   <object>
      <name>печенье</name>
	  <namearab>48_arab.gif</namearab>
      <pict>48.jpg</pict>
      <soundyes>48.mp3</soundyes>
      <soundno>48.mp3</soundno>
   </object>
   <object>
      <name>пироги</name>
	  <namearab>49_arab.gif</namearab>
      <pict>49.jpg</pict>
      <soundyes>49.mp3</soundyes>
      <soundno>49.mp3</soundno>
   </object>
   <object>
      <name>торты</name>
	  <namearab>50_arab.gif</namearab>
      <pict>50.jpg</pict>
      <soundyes>50.mp3</soundyes>
      <soundno>50.mp3</soundno>
   </object>
   <object>
      <name>пирожные</name>
	  <namearab>51_arab.gif</namearab>
      <pict>51.jpg</pict>
      <soundyes>51.mp3</soundyes>
      <soundno>51.mp3</soundno>
   </object>
   <object>
      <name>магазин</name>
	  <namearab>52_arab.gif</namearab>
      <pict>52.jpg</pict>
      <soundyes>52.mp3</soundyes>
      <soundno>52.mp3</soundno>
   </object>
   <object>
      <name>магазинчик</name>
	  <namearab>53_arab.gif</namearab>
      <pict>53.jpg</pict>
      <soundyes>53.mp3</soundyes>
      <soundno>53.mp3</soundno>
   </object>
   <object>
      <name>рынок</name>
	  <namearab>54_arab.gif</namearab>
      <pict>54.jpg</pict>
      <soundyes>54.mp3</soundyes>
      <soundno>54.mp3</soundno>
   </object>
   <object>
      <name>кухня</name>
	  <namearab>55_arab.gif</namearab>
      <pict>55.jpg</pict>
      <soundyes>55.mp3</soundyes>
      <soundno>55.mp3</soundno>
   </object>
   <object>
      <name>посуда</name>
	  <namearab>56_arab.gif</namearab>
      <pict>56.jpg</pict>
      <soundyes>56.mp3</soundyes>
      <soundno>56.mp3</soundno>
   </object>
   <object>
      <name>тарелка</name>
	  <namearab>57_arab.gif</namearab>
      <pict>57.jpg</pict>
      <soundyes>57.mp3</soundyes>
      <soundno>57.mp3</soundno>
   </object>
   <object>
      <name>столовые приборы</name>
	  <namearab>58_arab.gif</namearab>
      <pict>58.jpg</pict>
      <soundyes>58.mp3</soundyes>
      <soundno>58.mp3</soundno>
   </object>
   <object>
      <name>столовая ложка</name>
	  <namearab>59_arab.gif</namearab>
      <pict>59.jpg</pict>
      <soundyes>59.mp3</soundyes>
      <soundno>59.mp3</soundno>
   </object>
   <object>
      <name>вилка</name>
	  <namearab>60_arab.gif</namearab>
      <pict>60.jpg</pict>
      <soundyes>60.mp3</soundyes>
      <soundno>60.mp3</soundno>
   </object>
   <object>
      <name>столовый нож</name>
	  <namearab>61_arab.gif</namearab>
      <pict>61.jpg</pict>
      <soundyes>61.mp3</soundyes>
      <soundno>61.mp3</soundno>
   </object>
   <object>
      <name>ножи</name>
	  <namearab>62_arab.gif</namearab>
      <pict>62.jpg</pict>
      <soundyes>62.mp3</soundyes>
      <soundno>62.mp3</soundno>
   </object>
   <object>
      <name>чайная ложка</name>
	  <namearab>63_arab.gif</namearab>
      <pict>63.png</pict>
      <soundyes>63.mp3</soundyes>
      <soundno>63.mp3</soundno>
   </object>
   <object>
      <name>чашка</name>
	  <namearab>64_arab.gif</namearab>
      <pict>64.jpg</pict>
      <soundyes>64.mp3</soundyes>
      <soundno>64.mp3</soundno>
   </object>
   <object>
      <name>кружка</name>
	  <namearab>65_arab.gif</namearab>
      <pict>65.jpg</pict>
      <soundyes>65.mp3</soundyes>
      <soundno>65.mp3</soundno>
   </object>
   <object>
      <name>соль</name>
	  <namearab>66_arab.gif</namearab>
      <pict>66.jpg</pict>
      <soundyes>66.mp3</soundyes>
      <soundno>66.mp3</soundno>
   </object>
   <object>
      <name>перец</name>
	  <namearab>67_arab.gif</namearab>
      <pict>67.jpg</pict>
      <soundyes>67.mp3</soundyes>
      <soundno>67.mp3</soundno>
   </object>
   <object>
      <name>кафе</name>
	  <namearab>68_arab.gif</namearab>
      <pict>68.jpg</pict>
      <soundyes>68.mp3</soundyes>
      <soundno>68.mp3</soundno>
   </object>
   <object>
      <name>столовая</name>
	  <namearab>69_arab.gif</namearab>
      <pict>69.jpg</pict>
      <soundyes>69.mp3</soundyes>
      <soundno>69.mp3</soundno>
   </object>
   <object>
      <name>ресторан</name>
	  <namearab>70_arab.gif</namearab>
      <pict>70.jpg</pict>
      <soundyes>70.mp3</soundyes>
      <soundno>70.mp3</soundno>
   </object>
   <object>
      <name>скатерть</name>
	  <namearab>71_arab.gif</namearab>
      <pict>71.jpg</pict>
      <soundyes>71.mp3</soundyes>
      <soundno>71.mp3</soundno>
   </object>
   <object>
      <name>завтрак</name>
	  <namearab>72_arab.gif</namearab>
      <pict>72.jpg</pict>
      <soundyes>72.mp3</soundyes>
      <soundno>72.mp3</soundno>
   </object>
   <object>
      <name>блины</name>
	  <namearab>73_arab.gif</namearab>
      <pict>73.jpg</pict>
      <soundyes>73.mp3</soundyes>
      <soundno>73.mp3</soundno>
   </object>
   <object>
      <name>варенье</name>
	  <namearab>74_arab.gif</namearab>
      <pict>74.jpg</pict>
      <soundyes>74.mp3</soundyes>
      <soundno>74.mp3</soundno>
   </object>
   <object>
      <name>сырники</name>
	  <namearab>75_arab.gif</namearab>
      <pict>75.jpg</pict>
      <soundyes>75.mp3</soundyes>
      <soundno>75.mp3</soundno>
   </object>
   <object>
      <name>бутерброды</name>
	  <namearab>76_arab.gif</namearab>
      <pict>76.jpg</pict>
      <soundyes>76.mp3</soundyes>
      <soundno>76.mp3</soundno>
   </object>
   <object>
      <name>сыр</name>
	  <namearab>77_arab.gif</namearab>
      <pict>77.jpg</pict>
      <soundyes>77.mp3</soundyes>
      <soundno>77.mp3</soundno>
   </object>
   <object>
      <name>молоко</name>
	  <namearab>78_arab.gif</namearab>
      <pict>78.jpg</pict>
      <soundyes>78.mp3</soundyes>
      <soundno>78.mp3</soundno>
   </object>
   <object>
      <name>яйцо</name>
	  <namearab>79_arab.gif</namearab>
      <pict>79.jpg</pict>
      <soundyes>79.mp3</soundyes>
      <soundno>79.mp3</soundno>
   </object>
   <object>
      <name>яйцо вкрутую</name>
	  <namearab>80_arab.gif</namearab>
      <pict>80.jpg</pict>
      <soundyes>80.mp3</soundyes>
      <soundno>80.mp3</soundno>
   </object>
   <object>
      <name>яйцо всмятку</name>
	  <namearab>81_arab.gif</namearab>
      <pict>81.jpg</pict>
      <soundyes>81.mp3</soundyes>
      <soundno>81.mp3</soundno>
   </object>
   <object>
      <name>яичница глазунья</name>
	  <namearab>82_arab.gif</namearab>
      <pict>82.jpg</pict>
      <soundyes>82.mp3</soundyes>
      <soundno>82.mp3</soundno>
   </object>
   <object>
      <name>яичница болтушка</name>
	  <namearab>83_arab.gif</namearab>
      <pict>83.jpg</pict>
      <soundyes>83.mp3</soundyes>
      <soundno>83.mp3</soundno>
   </object>
   <object>
      <name>чай</name>
	  <namearab>84_arab.gif</namearab>
      <pict>84.jpg</pict>
      <soundyes>84.mp3</soundyes>
      <soundno>84.mp3</soundno>
   </object>
   <object>
      <name>чай с лимоном</name>
	  <namearab>85_arab.gif</namearab>
      <pict>85.jpg</pict>
      <soundyes>85.mp3</soundyes>
      <soundno>85.mp3</soundno>
   </object>
   <object>
      <name>чёрный кофе</name>
	  <namearab>86_arab.gif</namearab>
      <pict>86.jpg</pict>
      <soundyes>86.mp3</soundyes>
      <soundno>86.mp3</soundno>
   </object>
   <object>
      <name>кофе со сливками</name>
	  <namearab>87_arab.gif</namearab>
      <pict>87.jpg</pict>
      <soundyes>87.mp3</soundyes>
      <soundno>87.mp3</soundno>
   </object>
   <object>
      <name>капучино</name>
	  <namearab>88_arab.gif</namearab>
      <pict>88.jpg</pict>
      <soundyes>88.mp3</soundyes>
      <soundno>88.mp3</soundno>
   </object>
   <object>
      <name>обед</name>
	  <namearab>89_arab.gif</namearab>
      <pict>89.jpg</pict>
      <soundyes>89.mp3</soundyes>
      <soundno>89.mp3</soundno>
   </object>
   <object>
      <name>полдник</name>
	  <namearab>90_arab.gif</namearab>
      <pict>90.jpg</pict>
      <soundyes>90.mp3</soundyes>
      <soundno>90.mp3</soundno>
   </object>
   <object>
      <name>ужин</name>
	  <namearab>91_arab.gif</namearab>
      <pict>91.jpg</pict>
      <soundyes>91.mp3</soundyes>
      <soundno>91.mp3</soundno>
   </object>
   <object>
      <name>закуска</name>
	  <namearab>92_arab.gif</namearab>
      <pict>92.jpg</pict>
      <soundyes>92.mp3</soundyes>
      <soundno>92.mp3</soundno>
   </object>
   <object>
      <name>салат</name>
	  <namearab>93_arab.gif</namearab>
      <pict>93.jpg</pict>
      <soundyes>93.mp3</soundyes>
      <soundno>93.mp3</soundno>
   </object>
   <object>
      <name>суп</name>
	  <namearab>94_arab.gif</namearab>
      <pict>94.jpg</pict>
      <soundyes>94.mp3</soundyes>
      <soundno>94.mp3</soundno>
   </object>
   <object>
      <name>суп-пюре</name>
	  <namearab>95_arab.gif</namearab>
      <pict>95.jpg</pict>
      <soundyes>95.mp3</soundyes>
      <soundno>95.mp3</soundno>
   </object>
   <object>
      <name>борщ</name>
	  <namearab>96_arab.gif</namearab>
      <pict>96.jpg</pict>
      <soundyes>96.mp3</soundyes>
      <soundno>96.mp3</soundno>
   </object>
   <object>
      <name>щи</name>
	  <namearab>97_arab.gif</namearab>
      <pict>97.jpg</pict>
      <soundyes>97.mp3</soundyes>
      <soundno>97.mp3</soundno>
   </object>
   <object>
      <name>уха</name>
	  <namearab>98_arab.gif</namearab>
      <pict>98.jpg</pict>
      <soundyes>98.mp3</soundyes>
      <soundno>98.mp3</soundno>
   </object>
   <object>
      <name>бефстроганов</name>
	  <namearab>99_arab.gif</namearab>
      <pict>99.jpg</pict>
      <soundyes>99.mp3</soundyes>
      <soundno>99.mp3</soundno>
   </object>
   <object>
      <name>гречка</name>
	  <namearab>100_arab.gif</namearab>
      <pict>100.jpg</pict>
      <soundyes>100.mp3</soundyes>
      <soundno>100.mp3</soundno>
   </object>
   <object>
      <name>котлета</name>
	  <namearab>101_arab.gif</namearab>
      <pict>101.jpg</pict>
      <soundyes>101.mp3</soundyes>
      <soundno>101.mp3</soundno>
   </object>
   <object>
      <name>картофельное пюре</name>
	  <namearab>102_arab.gif</namearab>
      <pict>102.jpg</pict>
      <soundyes>102.mp3</soundyes>
      <soundno>102.mp3</soundno>
   </object>
   <object>
      <name>бифштекс</name>
	  <namearab>103_arab.gif</namearab>
      <pict>103.jpg</pict>
      <soundyes>103.mp3</soundyes>
      <soundno>103.mp3</soundno>
   </object>
   <object>
      <name>жаркое</name>
	  <namearab>104_arab.gif</namearab>
      <pict>104.jpg</pict>
      <soundyes>104.mp3</soundyes>
      <soundno>104.mp3</soundno>
   </object>
   <object>
      <name>плов</name>
	  <namearab>105_arab.gif</namearab>
      <pict>105.jpg</pict>
      <soundyes>105.mp3</soundyes>
      <soundno>105.mp3</soundno>
   </object>
   <object>
      <name>шашлык</name>
	  <namearab>106_arab.gif</namearab>
      <pict>106.jpg</pict>
      <soundyes>106.mp3</soundyes>
      <soundno>106.mp3</soundno>
   </object>
   <object>
      <name>пельмени</name>
	  <namearab>107_arab.gif</namearab>
      <pict>107.png</pict>
      <soundyes>107.mp3</soundyes>
      <soundno>107.mp3</soundno>
   </object>
   <object>
      <name>цыплёнок табака</name>
	  <namearab>108_arab.gif</namearab>
      <pict>108.jpg</pict>
      <soundyes>108.mp3</soundyes>
      <soundno>108.mp3</soundno>
   </object>
   <object>
      <name>жареная рыба</name>
	  <namearab>109_arab.gif</namearab>
      <pict>109.jpg</pict>
      <soundyes>109.mp3</soundyes>
      <soundno>109.mp3</soundno>
   </object>
   <object>
      <name>перец фаршированный</name>
	  <namearab>110_arab.gif</namearab>
      <pict>110.jpg</pict>
      <soundyes>110.mp3</soundyes>
      <soundno>110.mp3</soundno>
   </object>
   <object>
      <name>компот</name>
	  <namearab>111_arab.gif</namearab>
      <pict>111.jpg</pict>
      <soundyes>111.mp3</soundyes>
      <soundno>111.mp3</soundno>
   </object>
   <object>
      <name>морс</name>
	  <namearab>112_arab.gif</namearab>
      <pict>112.jpg</pict>
      <soundyes>112.mp3</soundyes>
      <soundno>112.mp3</soundno>
   </object>
   <object>
      <name>сок</name>
	  <namearab>113_arab.gif</namearab>
      <pict>113.jpg</pict>
      <soundyes>113.mp3</soundyes>
      <soundno>113.mp3</soundno>
   </object>
   <object>
      <name>фруктовый салат</name>
	  <namearab>114_arab.gif</namearab>
      <pict>114.jpg</pict>
      <soundyes>114.mp3</soundyes>
      <soundno>114.mp3</soundno>
   </object>
   <object>
      <name>мороженое</name>
	  <namearab>115_arab.gif</namearab>
      <pict>115.jpg</pict>
      <soundyes>115.mp3</soundyes>
      <soundno>115.mp3</soundno>
   </object>
   <object>
      <name>свёкла</name>
	  <namearab>116_arab.gif</namearab>
      <pict>116.jpg</pict>
      <soundyes>116.mp3</soundyes>
      <soundno>116.mp3</soundno>
   </object>   
</objects>