<?xml version="1.0" encoding="utf-8"?>
<objects>
   <object>
      <name>город</name>
	  <namearab>1_arab.gif</namearab>
      <pict>1.jpg</pict>
      <soundyes>1.mp3</soundyes>
      <soundno>1.mp3</soundno>
   </object>
   <object>
      <name>деревня</name>
	  <namearab>2_arab.gif</namearab>
      <pict>2.jpg</pict>
      <soundyes>2.mp3</soundyes>
      <soundno>2.mp3</soundno>
   </object>
   <object>
      <name>дачный посёлок</name>
	  <namearab>3_arab.gif</namearab>
      <pict>3.jpg</pict>
      <soundyes>3.mp3</soundyes>
      <soundno>3.mp3</soundno>
   </object>
   <object>
      <name>коттеджный посёлок</name>
	  <namearab>4_arab.gif</namearab>
      <pict>4.jpg</pict>
      <soundyes>4.mp3</soundyes>
      <soundno>4.mp3</soundno>
   </object>
   <object>
      <name>деревенский дом</name>
	  <namearab>8_arab.gif</namearab>
      <pict>8.jpg</pict>
      <soundyes>8.mp3</soundyes>
      <soundno>8.mp3</soundno>
   </object>
   <object>
      <name>дача</name>
	  <namearab>9_arab.gif</namearab>
      <pict>9.jpg</pict>
      <soundyes>9.mp3</soundyes>
      <soundno>9.mp3</soundno>
   </object>
   <object>
      <name>одноэтажный дом</name>
	  <namearab>10_arab.gif</namearab>
      <pict>10.jpg</pict>
      <soundyes>10.mp3</soundyes>
      <soundno>10.mp3</soundno>
   </object>
   <object>
      <name>двухэтажный дом</name>
	  <namearab>11_arab.gif</namearab>
      <pict>11.jpg</pict>
      <soundyes>11.mp3</soundyes>
      <soundno>11.mp3</soundno>
   </object>
   <object>
      <name>дачный участок</name>
	  <namearab>12_arab.gif</namearab>
      <pict>12.jpg</pict>
      <soundyes>12.mp3</soundyes>
      <soundno>12.mp3</soundno>
   </object>
   <object>
      <name>забор</name>
	  <namearab>13_arab.gif</namearab>
      <pict>13.jpg</pict>
      <soundyes>13.mp3</soundyes>
      <soundno>13.mp3</soundno>
   </object>
   <object>
      <name>ворота</name>
	  <namearab>14_arab.gif</namearab>
      <pict>14.png</pict>
      <soundyes>14.mp3</soundyes>
      <soundno>14.mp3</soundno>
   </object>
   <object>
      <name>замóк</name>
	  <namearab>15_arab.gif</namearab>
      <pict>15.jpg</pict>
      <soundyes>15.mp3</soundyes>
      <soundno>15.mp3</soundno>
   </object>
   <object>
      <name>ключ</name>
	  <namearab>16_arab.gif</namearab>
      <pict>16.jpg</pict>
      <soundyes>16.mp3</soundyes>
      <soundno>16.mp3</soundno>
   </object>
   <object>
      <name>калитка</name>
	  <namearab>17_arab.gif</namearab>
      <pict>17.jpg</pict>
      <soundyes>17.mp3</soundyes>
      <soundno>17.mp3</soundno>
   </object>
   <object>
      <name>дорожка</name>
	  <namearab>18_arab.gif</namearab>
      <pict>18.jpg</pict>
      <soundyes>18.mp3</soundyes>
      <soundno>18.mp3</soundno>
   </object>
   <object>
      <name>гараж</name>
	  <namearab>19_arab.gif</namearab>
      <pict>19.jpg</pict>
      <soundyes>19.mp3</soundyes>
      <soundno>19.mp3</soundno>
   </object>
   <object>
      <name>навес</name>
	  <namearab>20_arab.gif</namearab>
      <pict>20.jpg</pict>
      <soundyes>20.mp3</soundyes>
      <soundno>20.mp3</soundno>
   </object>
   <object>
      <name>сарай</name>
	  <namearab>21_arab.gif</namearab>
      <pict>21.jpg</pict>
      <soundyes>21.mp3</soundyes>
      <soundno>21.mp3</soundno>
   </object>
   <object>
      <name>инструменты</name>
	  <namearab>22_arab.gif</namearab>
      <pict>22.jpg</pict>
      <soundyes>22.mp3</soundyes>
      <soundno>22.mp3</soundno>
   </object>
   <object>
      <name>сад</name>
	  <namearab>23_arab.gif</namearab>
      <pict>23.jpg</pict>
      <soundyes>23.mp3</soundyes>
      <soundno>23.mp3</soundno>
   </object>
   <object>
      <name>огород</name>
	  <namearab>24_arab.gif</namearab>
      <pict>24.jpg</pict>
      <soundyes>24.mp3</soundyes>
      <soundno>24.mp3</soundno>
   </object>
   <object>
      <name>теплица</name>
	  <namearab>25_arab.gif</namearab>
      <pict>25.jpg</pict>
      <soundyes>25.mp3</soundyes>
      <soundno>25.mp3</soundno>
   </object>
   <object>
      <name>яблоня</name>
	  <namearab>26_arab.gif</namearab>
      <pict>26.jpg</pict>
      <soundyes>26.mp3</soundyes>
      <soundno>26.mp3</soundno>
   </object>
   <object>
      <name>вишня</name>
	  <namearab>27_arab.gif</namearab>
      <pict>27.jpg</pict>
      <soundyes>27.mp3</soundyes>
      <soundno>27.mp3</soundno>
   </object>
   <object>
      <name>слива</name>
	  <namearab>28_arab.gif</namearab>
      <pict>28.jpg</pict>
      <soundyes>28.mp3</soundyes>
      <soundno>28.mp3</soundno>
   </object>
   <object>
      <name>клубника</name>
	  <namearab>29_arab.gif</namearab>
      <pict>29.jpg</pict>
      <soundyes>29.mp3</soundyes>
      <soundno>29.mp3</soundno>
   </object>
   <object>
      <name>смородина</name>
	  <namearab>30_arab.gif</namearab>
      <pict>30.jpg</pict>
      <soundyes>30.mp3</soundyes>
      <soundno>30.mp3</soundno>
   </object>
   <object>
      <name>красная смородина</name>
	  <namearab>31_arab.gif</namearab>
      <pict>31.jpg</pict>
      <soundyes>31.mp3</soundyes>
      <soundno>31.mp3</soundno>
   </object>
   <object>
      <name>малина</name>
	  <namearab>32_arab.gif</namearab>
      <pict>32.jpg</pict>
      <soundyes>32.mp3</soundyes>
      <soundno>32.mp3</soundno>
   </object>
   <object>
      <name>крыжовник</name>
	  <namearab>33_arab.gif</namearab>
      <pict>33.jpg</pict>
      <soundyes>33.mp3</soundyes>
      <soundno>33.mp3</soundno>
   </object>
   <object>
      <name>собака</name>
	  <namearab>34_arab.gif</namearab>
      <pict>34.jpg</pict>
      <soundyes>34.mp3</soundyes>
      <soundno>34.mp3</soundno>
   </object>
   <object>
      <name>сторожевая собака</name>
	  <namearab>35_arab.gif</namearab>
      <pict>35.jpg</pict>
      <soundyes>35.mp3</soundyes>
      <soundno>35.mp3</soundno>
   </object>
   <object>
      <name>собачья будка</name>
	  <namearab>36_arab.gif</namearab>
      <pict>36.jpg</pict>
      <soundyes>36.mp3</soundyes>
      <soundno>36.mp3</soundno>
   </object>
   <object>
      <name>кошка</name>
	  <namearab>37_arab.gif</namearab>
      <pict>37.jpg</pict>
      <soundyes>37.mp3</soundyes>
      <soundno>37.mp3</soundno>
   </object>
   <object>
      <name>миска</name>
	  <namearab>38_arab.gif</namearab>
      <pict>38.jpg</pict>
      <soundyes>38.mp3</soundyes>
      <soundno>38.mp3</soundno>
   </object>
   <object>
      <name>терраса</name>
	  <namearab>39_arab.gif</namearab>
      <pict>39.jpg</pict>
      <soundyes>39.mp3</soundyes>
      <soundno>39.mp3</soundno>
   </object>
   <object>
      <name>застеклённая терраса</name>
	  <namearab>40_arab.gif</namearab>
      <pict>40.jpg</pict>
      <soundyes>40.mp3</soundyes>
      <soundno>40.mp3</soundno>
   </object>
   <object>
      <name>беседка</name>
	  <namearab>41_arab.gif</namearab>
      <pict>41.jpg</pict>
      <soundyes>41.mp3</soundyes>
      <soundno>41.mp3</soundno>
   </object>
   <object>
      <name>стол</name>
	  <namearab>42_arab.gif</namearab>
      <pict>42.jpg</pict>
      <soundyes>42.mp3</soundyes>
      <soundno>42.mp3</soundno>
   </object>
   <object>
      <name>скамейка</name>
	  <namearab>43_arab.gif</namearab>
      <pict>43.jpg</pict>
      <soundyes>43.mp3</soundyes>
      <soundno>43.mp3</soundno>
   </object>
   <object>
      <name>мангал</name>
	  <namearab>44_arab.gif</namearab>
      <pict>44.jpg</pict>
      <soundyes>44.mp3</soundyes>
      <soundno>44.mp3</soundno>
   </object>
   <object>
      <name>дом</name>
	  <namearab>45_arab.gif</namearab>
      <pict>45.jpg</pict>
      <soundyes>45.mp3</soundyes>
      <soundno>45.mp3</soundno>
   </object>
   <object>
      <name>пятиэтажка</name>
	  <namearab>46_arab.gif</namearab>
      <pict>46.jpg</pict>
      <soundyes>46.mp3</soundyes>
      <soundno>46.mp3</soundno>
   </object>
   <object>
      <name>трёхэтажный дом</name>
	  <namearab>47_arab.gif</namearab>
      <pict>47.jpg</pict>
      <soundyes>47.mp3</soundyes>
      <soundno>47.mp3</soundno>
   </object>
   <object>
      <name>восьмиэтажный дом</name>
	  <namearab>48_arab.gif</namearab>
      <pict>48.jpg</pict>
      <soundyes>48.mp3</soundyes>
      <soundno>48.mp3</soundno>
   </object>
   <object>
      <name>номер дома</name>
	  <namearab>49_arab.gif</namearab>
      <pict>49.jpg</pict>
      <soundyes>49.mp3</soundyes>
      <soundno>49.mp3</soundno>
   </object>
   <object>
      <name>подъезд</name>
	  <namearab>50_arab.gif</namearab>
      <pict>50.jpg</pict>
      <soundyes>50.mp3</soundyes>
      <soundno>50.mp3</soundno>
   </object>
   <object>
      <name>дверь</name>
	  <namearab>51_arab.gif</namearab>
      <pict>51.jpg</pict>
      <soundyes>51.mp3</soundyes>
      <soundno>51.mp3</soundno>
   </object>
   <object>
      <name>лестница</name>
	  <namearab>52_arab.gif</namearab>
      <pict>52.jpg</pict>
      <soundyes>52.mp3</soundyes>
      <soundno>52.mp3</soundno>
   </object>
   <object>
      <name>лифт</name>
	  <namearab>53_arab.gif</namearab>
      <pict>53.jpg</pict>
      <soundyes>53.mp3</soundyes>
      <soundno>53.mp3</soundno>
   </object>
   <object>
      <name>лестничная площадка</name>
	  <namearab>54_arab.gif</namearab>
      <pict>54.jpg</pict>
      <soundyes>54.mp3</soundyes>
      <soundno>54.mp3</soundno>
   </object>
   <object>
      <name>мусоропровод</name>
	  <namearab>55_arab.gif</namearab>
      <pict>55.jpg</pict>
      <soundyes>55.mp3</soundyes>
      <soundno>55.mp3</soundno>
   </object>
   <object>
      <name>номер квартиры</name>
	  <namearab>56_arab.gif</namearab>
      <pict>56.jpg</pict>
      <soundyes>56.mp3</soundyes>
      <soundno>56.mp3</soundno>
   </object>
   <object>
      <name>звонок</name>
	  <namearab>57_arab.gif</namearab>
      <pict>57.jpg</pict>
      <soundyes>57.mp3</soundyes>
      <soundno>57.mp3</soundno>
   </object>
   <object>
      <name>вешалка</name>
	  <namearab>58_arab.gif</namearab>
      <pict>58.jpg</pict>
      <soundyes>58.mp3</soundyes>
      <soundno>58.mp3</soundno>
   </object>   
   <object>
      <name>коврик</name>
	  <namearab>59_arab.gif</namearab>
      <pict>59.jpg</pict>
      <soundyes>59.mp3</soundyes>
      <soundno>59.mp3</soundno>
   </object>  <object>
      <name>тапки</name>
	  <namearab>60_arab.gif</namearab>
      <pict>60.jpg</pict>
      <soundyes>60.mp3</soundyes>
      <soundno>60.mp3</soundno>
   </object>  <object>
      <name>ботинки</name>
	  <namearab>61_arab.gif</namearab>
      <pict>61.jpg</pict>
      <soundyes>61.mp3</soundyes>
      <soundno>61.mp3</soundno>
   </object>  <object>
      <name>кроссовки</name>
	  <namearab>62_arab.gif</namearab>
      <pict>62.jpg</pict>
      <soundyes>62.mp3</soundyes>
      <soundno>62.mp3</soundno>
   </object>  <object>
      <name>туфли</name>
	  <namearab>63_arab.gif</namearab>
      <pict>63.jpg</pict>
      <soundyes>63.mp3</soundyes>
      <soundno>63.mp3</soundno>
   </object>  <object>
      <name>сапоги</name>
	  <namearab>64_arab.gif</namearab>
      <pict>64.jpg</pict>
      <soundyes>64.mp3</soundyes>
      <soundno>64.mp3</soundno>
   </object>  <object>
      <name>босоножки</name>
	  <namearab>65_arab.gif</namearab>
      <pict>65.jpg</pict>
      <soundyes>65.mp3</soundyes>
      <soundno>65.mp3</soundno>
   </object>  <object>
      <name>прихожая</name>
	  <namearab>66_arab.gif</namearab>
      <pict>66.jpg</pict>
      <soundyes>66.mp3</soundyes>
      <soundno>66.mp3</soundno>
   </object>  <object>
      <name>плащ</name>
	  <namearab>67_arab.gif</namearab>
      <pict>67.jpg</pict>
      <soundyes>67.mp3</soundyes>
      <soundno>67.mp3</soundno>
   </object>  <object>
      <name>пальто</name>
	  <namearab>68_arab.gif</namearab>
      <pict>68.jpg</pict>
      <soundyes>68.mp3</soundyes>
      <soundno>68.mp3</soundno>
   </object>  <object>
      <name>куртка</name>
	  <namearab>69_arab.gif</namearab>
      <pict>69.jpg</pict>
      <soundyes>69.mp3</soundyes>
      <soundno>69.mp3</soundno>
   </object>  <object>
      <name>шуба</name>
	  <namearab>70_arab.gif</namearab>
      <pict>70.jpg</pict>
      <soundyes>70.mp3</soundyes>
      <soundno>70.mp3</soundno>
   </object>  <object>
      <name>шарф</name>
	  <namearab>71_arab.gif</namearab>
      <pict>71.jpg</pict>
      <soundyes>71.mp3</soundyes>
      <soundno>71.mp3</soundno>
   </object>  <object>   
      <name>платок</name>
	  <namearab>72_arab.gif</namearab>
      <pict>72.jpg</pict>
      <soundyes>72.mp3</soundyes>
      <soundno>72.mp3</soundno>
   </object>  <object>
      <name>шапка</name>
	  <namearab>73_arab.gif</namearab>
      <pict>73.jpg</pict>
      <soundyes>73.mp3</soundyes>
      <soundno>73.mp3</soundno>
   </object>  <object>
      <name>меховая шапка</name>
	  <namearab>74_arab.gif</namearab>
      <pict>74.jpg</pict>
      <soundyes>74.mp3</soundyes>
      <soundno>74.mp3</soundno>
   </object>  <object>
      <name>ушанка</name>
	  <namearab>75_arab.gif</namearab>
      <pict>75.jpg</pict>
      <soundyes>75.mp3</soundyes>
      <soundno>75.mp3</soundno>
   </object>  <object>
      <name>гостиная</name>
	  <namearab>76_arab.gif</namearab>
      <pict>76.jpg</pict>
      <soundyes>76.mp3</soundyes>
      <soundno>76.mp3</soundno>
   </object>  <object>
      <name>кухня</name>
	  <namearab>77_arab.gif</namearab>
      <pict>77.jpg</pict>
      <soundyes>77.mp3</soundyes>
      <soundno>77.mp3</soundno>
   </object>  <object>
      <name>спальня</name>
	  <namearab>78_arab.gif</namearab>
      <pict>78.jpg</pict>
      <soundyes>78.mp3</soundyes>
      <soundno>78.mp3</soundno>
   </object>  <object>
      <name>кабинет</name>
	  <namearab>79_arab.gif</namearab>
      <pict>79.jpg</pict>
      <soundyes>79.mp3</soundyes>
      <soundno>79.mp3</soundno>
   </object>  <object>
      <name>коридор</name>
	  <namearab>80_arab.gif</namearab>
      <pict>80.jpg</pict>
      <soundyes>80.mp3</soundyes>
      <soundno>80.mp3</soundno>
   </object>  <object>
      <name>ванная</name>
	  <namearab>81_arab.gif</namearab>
      <pict>81.jpg</pict>
      <soundyes>81.mp3</soundyes>
      <soundno>81.mp3</soundno>
   </object>  <object>
      <name>ванна</name>
	  <namearab>82_arab.gif</namearab>
      <pict>82.jpg</pict>
      <soundyes>82.mp3</soundyes>
      <soundno>82.mp3</soundno>
   </object>  <object>
      <name>раковина</name>
	  <namearab>83_arab.gif</namearab>
      <pict>83.jpg</pict>
      <soundyes>83.mp3</soundyes>
      <soundno>83.mp3</soundno>
   </object>  <object>
      <name>душ</name>
	  <namearab>84_arab.gif</namearab>
      <pict>84.jpg</pict>
      <soundyes>84.mp3</soundyes>
      <soundno>84.mp3</soundno>
   </object>  <object>
      <name>мыло</name>
	  <namearab>85_arab.gif</namearab>
      <pict>85.jpg</pict>
      <soundyes>85.mp3</soundyes>
      <soundno>85.mp3</soundno>
   </object>  <object>
      <name>жидкое мыло</name>
	  <namearab>86_arab.gif</namearab>
      <pict>86.jpg</pict>
      <soundyes>86.mp3</soundyes>
      <soundno>86.mp3</soundno>
   </object>  <object>
      <name>мочалка</name>
	  <namearab>87_arab.gif</namearab>
      <pict>87.jpg</pict>
      <soundyes>87.mp3</soundyes>
      <soundno>87.mp3</soundno>
   </object>  <object>
      <name>расчёска</name>
	  <namearab>88_arab.gif</namearab>
      <pict>88.jpg</pict>
      <soundyes>88.mp3</soundyes>
      <soundno>88.mp3</soundno>
   </object>  <object>
      <name>щётка для волос</name>
	  <namearab>89_arab.gif</namearab>
      <pict>89.jpg</pict>
      <soundyes>89.mp3</soundyes>
      <soundno>89.mp3</soundno>
   </object>  <object>
      <name>зубная щётка</name>
	  <namearab>90_arab.gif</namearab>
      <pict>90.png</pict>
      <soundyes>90.mp3</soundyes>
      <soundno>90.mp3</soundno>
   </object>  <object>
      <name>зубная паста</name>
	  <namearab>91_arab.gif</namearab>
      <pict>91.jpg</pict>
      <soundyes>91.mp3</soundyes>
      <soundno>91.mp3</soundno>
   </object>  <object>
      <name>дезодорант</name>
	  <namearab>92_arab.gif</namearab>
      <pict>92.jpg</pict>
      <soundyes>92.mp3</soundyes>
      <soundno>92.mp3</soundno>
   </object>  <object>
      <name>туалет</name>
	  <namearab>93_arab.gif</namearab>
      <pict>93.jpg</pict>
      <soundyes>93.mp3</soundyes>
      <soundno>93.mp3</soundno>
   </object>  <object>
      <name>туалетная бумага</name>
	  <namearab>94_arab.gif</namearab>
      <pict>94.jpg</pict>
      <soundyes>94.mp3</soundyes>
      <soundno>94.mp3</soundno>
   </object>  <object>
      <name>кладовка</name>
	  <namearab>95_arab.gif</namearab>
      <pict>95.jpg</pict>
      <soundyes>95.mp3</soundyes>
      <soundno>95.mp3</soundno>
   </object>  <object>
      <name>балкон</name>
	  <namearab>96_arab.gif</namearab>
      <pict>96.jpg</pict>
      <soundyes>96.mp3</soundyes>
      <soundno>96.mp3</soundno>
   </object>  <object>
      <name>лоджия</name>
	  <namearab>97_arab.gif</namearab>
      <pict>97.jpg</pict>
      <soundyes>97.mp3</soundyes>
      <soundno>97.mp3</soundno>
   </object>  <object>
      <name>телефон</name>
	  <namearab>98_arab.gif</namearab>
      <pict>98.jpg</pict>
      <soundyes>98.mp3</soundyes>
      <soundno>98.mp3</soundno>
   </object>  <object>
      <name>мобильник</name>
	  <namearab>99.gif</namearab>
      <pict>99.jpg</pict>
      <soundyes>99.mp3</soundyes>
      <soundno>99.mp3</soundno>
   </object>
   <object>
      <name>телевизор</name>
	  <namearab>100_arab.gif</namearab>
      <pict>100.jpg</pict>
      <soundyes>100.mp3</soundyes>
      <soundno>100.mp3</soundno>
   </object>
   <object>
      <name>холодильник</name>
	  <namearab>101_arab.gif</namearab>
      <pict>101.jpg</pict>
      <soundyes>101.mp3</soundyes>
      <soundno>101.mp3</soundno>
   </object>
   <object>
      <name>морозилка</name>
	  <namearab>102_arab.gif</namearab>
      <pict>102.jpg</pict>
      <soundyes>102.mp3</soundyes>
      <soundno>102.mp3</soundno>
   </object>
   <object>
      <name>микроволновка</name>
	  <namearab>103_arab.gif</namearab>
      <pict>103.jpg</pict>
      <soundyes>103.mp3</soundyes>
      <soundno>103.mp3</soundno>
   </object>
   <object>
      <name>шкаф</name>
	  <namearab>104_arab.gif</namearab>
      <pict>104.jpg</pict>
      <soundyes>104.mp3</soundyes>
      <soundno>104.mp3</soundno>
   </object>
   <object>
      <name>гардероб</name>
	  <namearab>105_arab.gif</namearab>
      <pict>105.jpg</pict>
      <soundyes>105.mp3</soundyes>
      <soundno>105.mp3</soundno>
   </object>
   <object>
      <name>шкаф-купе</name>
	  <namearab>106_arab.gif</namearab>
      <pict>106.jpg</pict>
      <soundyes>106.mp3</soundyes>
      <soundno>106.mp3</soundno>
   </object>
   <object>
      <name>книжный шкаф</name>
	  <namearab>107_arab.gif</namearab>
      <pict>107.jpg</pict>
      <soundyes>107.mp3</soundyes>
      <soundno>107.mp3</soundno>
   </object>
   <object>
      <name>полка</name>
	  <namearab>108_arab.gif</namearab>
      <pict>108.png</pict>
      <soundyes>108.mp3</soundyes>
      <soundno>108.mp3</soundno>
   </object>
   <object>
      <name>книжная полка</name>
	  <namearab>109_arab.gif</namearab>
      <pict>109.jpg</pict>
      <soundyes>109.mp3</soundyes>
      <soundno>109.mp3</soundno>
   </object>
   <object>
      <name>буфет</name>
	  <namearab>110_arab.gif</namearab>
      <pict>110.jpg</pict>
      <soundyes>110.mp3</soundyes>
      <soundno>110.mp3</soundno>
   </object>
   <object>
      <name>диван</name>
	  <namearab>111_arab.gif</namearab>
      <pict>111.jpg</pict>
      <soundyes>111.mp3</soundyes>
      <soundno>111.mp3</soundno>
   </object>
   <object>
      <name>кровать</name>
	  <namearab>112_arab.gif</namearab>
      <pict>112.jpg</pict>
      <soundyes>112.mp3</soundyes>
      <soundno>112.mp3</soundno>
   </object>
   <object>
      <name>подушка</name>
	  <namearab>113_arab.gif</namearab>
      <pict>113.jpg</pict>
      <soundyes>113.mp3</soundyes>
      <soundno>113.mp3</soundno>
   </object>
   <object>
      <name>одеяло</name>
	  <namearab>114_arab.gif</namearab>
      <pict>114.jpg</pict>
      <soundyes>114.mp3</soundyes>
      <soundno>114.mp3</soundno>
   </object>
   <object>
      <name>тумбочка</name>
	  <namearab>115_arab.gif</namearab>
      <pict>115.jpg</pict>
      <soundyes>115.mp3</soundyes>
      <soundno>115.mp3</soundno>
   </object>
   <object>
      <name>лампа</name>
	  <namearab>116_arab.gif</namearab>
      <pict>116.jpg</pict>
      <soundyes>116.mp3</soundyes>
      <soundno>116.mp3</soundno>
   </object>
   <object>
      <name>стол</name>
	  <namearab>117_arab.gif</namearab>
      <pict>117.jpg</pict>
      <soundyes>117.mp3</soundyes>
      <soundno>117.mp3</soundno>
   </object>
   <object>
      <name>кухонный стол</name>
	  <namearab>118_arab.gif</namearab>
      <pict>118.jpg</pict>
      <soundyes>118.mp3</soundyes>
      <soundno>118.mp3</soundno>
   </object>
   <object>
      <name>письменный стол</name>
	  <namearab>119_arab.gif</namearab>
      <pict>119.jpg</pict>
      <soundyes>119.mp3</soundyes>
      <soundno>119.mp3</soundno>
   </object>
   <object>
      <name>компьютерный стол</name>
	  <namearab>120_arab.gif</namearab>
      <pict>120.jpg</pict>
      <soundyes>120.mp3</soundyes>
      <soundno>120.mp3</soundno>
   </object>
   <object>
      <name>стул</name>
	  <namearab>121_arab.gif</namearab>
      <pict>121.jpg</pict>
      <soundyes>121.mp3</soundyes>
      <soundno>121.mp3</soundno>
   </object>
   <object>
      <name>табуретка</name>
	  <namearab>122_arab.gif</namearab>
      <pict>122.jpg</pict>
      <soundyes>122.mp3</soundyes>
      <soundno>122.mp3</soundno>
   </object>
   <object>
      <name>кресло</name>
	  <namearab>123_arab.gif</namearab>
      <pict>123.jpg</pict>
      <soundyes>123.mp3</soundyes>
      <soundno>123.mp3</soundno>
   </object>
   <object>
      <name>рабочее кресло</name>
	  <namearab>124_arab.gif</namearab>
      <pict>124.jpg</pict>
      <soundyes>124.mp3</soundyes>
      <soundno>124.mp3</soundno>
   </object>
   <object>
      <name>нож</name>
	  <namearab>125_arab.gif</namearab>
      <pict>125.jpg</pict>
      <soundyes>125.mp3</soundyes>
      <soundno>125.mp3</soundno>
   </object>
   <object>
      <name>разделочная доска</name>
	  <namearab>126_arab.gif</namearab>
      <pict>126.jpg</pict>
      <soundyes>126.mp3</soundyes>
      <soundno>126.mp3</soundno>
   </object>
   <object>
      <name>кастрюля</name>
	  <namearab>127_arab.gif</namearab>
      <pict>127.jpg</pict>
      <soundyes>127.mp3</soundyes>
      <soundno>127.mp3</soundno>
   </object>
   <object>
      <name>крышка</name>
	  <namearab>128_arab.gif</namearab>
      <pict>128.jpg</pict>
      <soundyes>128.mp3</soundyes>
      <soundno>128.mp3</soundno>
   </object>
   <object>
      <name>сковорода</name>
	  <namearab>129_arab.gif</namearab>
      <pict>129.jpg</pict>
      <soundyes>129.mp3</soundyes>
      <soundno>129.mp3</soundno>
   </object>
   <object>
      <name>блюдо</name>
	  <namearab>130_arab.gif</namearab>
      <pict>130.jpg</pict>
      <soundyes>130.mp3</soundyes>
      <soundno>130.mp3</soundno>
   </object>
  <object>
      <name>салатница</name>
	  <namearab>131_arab.gif</namearab>
      <pict>131.jpg</pict>
      <soundyes>131.mp3</soundyes>
      <soundno>131.mp3</soundno>
   </object>
   <object>
      <name>чайник</name>
	  <namearab>132_arab.gif</namearab>
      <pict>132.jpg</pict>
      <soundyes>132.mp3</soundyes>
      <soundno>132.mp3</soundno>
   </object>
   <object>
      <name>заварочный чайник</name>
	  <namearab>133_arab.gif</namearab>
      <pict>133.jpg</pict>
      <soundyes>133.mp3</soundyes>
      <soundno>133.mp3</soundno>
   </object>
   <object>
      <name>розетка</name>
	  <namearab>134_arab.gif</namearab>
      <pict>134.jpg</pict>
      <soundyes>134.mp3</soundyes>
      <soundno>134.mp3</soundno>
   </object>
   <object>
      <name>крючок</name>
	  <namearab>135_arab.gif</namearab>
      <pict>135.jpg</pict>
      <soundyes>135.mp3</soundyes>
      <soundno>135.mp3</soundno>
   </object>
   <object>
      <name>кран</name>
	  <namearab>136_arab.gif</namearab>
      <pict>136.jpg</pict>
      <soundyes>136.mp3</soundyes>
      <soundno>136.mp3</soundno>
   </object>
   <object>
      <name>обувь</name>
	  <namearab>137_arab.gif</namearab>
      <pict>137.jpg</pict>
      <soundyes>137.mp3</soundyes>
      <soundno>137.mp3</soundno>
   </object>
   <object>
      <name>пол</name>
	  <namearab>138_arab.gif</namearab>
      <pict>138.jpg</pict>
      <soundyes>138.mp3</soundyes>
      <soundno>138.mp3</soundno>
   </object>
   <object>
      <name>потолок</name>
	  <namearab>139_arab.gif</namearab>
      <pict>139.jpg</pict>
      <soundyes>139.mp3</soundyes>
      <soundno>139.mp3</soundno>
   </object>
   <object>
      <name>одежда</name>
	  <namearab>140_arab.gif</namearab>
      <pict>140.jpg</pict>
      <soundyes>140.mp3</soundyes>
      <soundno>140.mp3</soundno>
   </object>
</objects>